AddDefaultCharset UTF-8

#Options +FollowSymLinks
#Options -Indexes


RewriteEngine on
RewriteCond $1 !^(index\.php|user_guide|uploads/.*|favicon\.ico|favicon\.png|captcha/.*|application/modules/.*/templates|templates|js|robots\.txt|loginza_ae86323505907a5c2e486a178fd0ef39\.html|application/controllers/install/images/.*)
RewriteRule ^(.*)$ /index.php/$1 [L]

####################################
# or
# RewriteRule ^(.+)$ index.php?$1 [L]